
/* .crystal {
    width:100px;
    height:100px;
} */

.img-button {
    width:80px;
}

#grid {
    grid-template-rows: 20%;
    grid-template-columns: 10% 10% 10% 10%;
}



@media (max-width:980px){

}

@media (max-width:768px){

}

@media (max-width:640px){

}
