
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6h_ULXeRICItV2RfL0qDg2SNwtW0CAmO4CHS0m2KzpFiHKIDC)
}

.img-button {
    width:80px;
}

#grid {
    grid-template-rows: 20%;
    grid-template-columns: 10% 10% 10% 10%;
    margin:auto;
    display:block;
}

#comp-random-number{
    text-align:center;
}

.card-title {
    text-align:center;
}

#player-total-score {
    text-align:center;
    
}

/* .card {
    float:left;
} */



@media (max-width:980px){

}

@media (max-width:768px){

}

@media (max-width:640px){

}
